@page "/"

<PageTitle>Movies Index</PageTitle>

<div class="home-main-container">
    <img src="images/defaultprojector.webp" class="home-img"/>

    <h1 class="home-heading">Welcome to the Blazor Movies App!</h1>

    <div class="home-button-container-wrapper">
        <div class="home-button-container">
            <NavLink class="nav-link" href="movies-card">
                <MudButton Size="Size.Medium" Variant="Variant.Filled" Color="Color.Primary">Go to MudCard Page</MudButton>
            </NavLink>


            <div>
                <NavLink class="nav-link" href="movies-grid">
                    <MudButton Size="Size.Medium" Variant="Variant.Filled" Color="Color.Primary">Go to MudGrid Page</MudButton>
                </NavLink>
            </div>

            <div>
                <NavLink class="nav-link" href="movies-datagrid">
                    <MudButton Size="Size.Medium" Variant="Variant.Filled" Color="Color.Primary">Go to Mud-DataGrid Page</MudButton>
                </NavLink>
            </div>
        </div>
    </div>
</div>
